
.mensagens-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background-color: #E6F0FA;
    justify-content: center;
    
}


.top {
    display: flex;
    position: absolute;
    margin-bottom: 170%;
    padding: 10px 20px;
    color: #333;
}

.top p{
    margin-left: 14px;
    margin-right: 20px;
    font-size: 20px;
}

.name {
    position:absolute;
    top: 0;
    background-color: #6a9ace;
    box-shadow: 0 8px 8px rgba(43, 54, 66, 0.1);
    color: #fff;
    padding: 20px;
    width: 100%;
    text-align: left;
}

.mensagens-content {
    display: flex;
    flex-direction: column; 
    max-height: 400px;
    overflow-y: auto; 
}

.mensagem-item {
    max-width: 70%; 
    margin-bottom: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.mensagem-item.left {
    align-self: flex-start;
    background-color: #ffffff;
    text-align: left;
}

.mensagem-item.right {
    align-self: flex-end; 
    background-color: #97d594dd; 
    text-align: right;
}

.mensagem-item p{
    font-size: 20px;
}

.mensagens-input {
    display: flex;
    padding: 20px;
    width: 100%;
    background-color: #f4f4f4;
    border-top: 1px solid #ddd;
    position: absolute;
    margin-top: 150%;
    align-items: center;
}

textarea {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
    font-size: 16px;
    align-content: center;
}



.send-button {
    margin-left: 10px;
    width: 50px;
    height: 50px;
    background-color: #97d594;
    border: none;
    border-radius: 8px;
   
}

.button-send{
    width: 30px;
    height: 30px;
}


.menu-buttons {
    position: absolute;
    bottom: 0px; 
    display: flex; 
    justify-content: center; 
    gap: 48px; 
    background-color:  #6a9acea3;
    padding: 20px; 
    width: 100%;
    box-shadow: 0px -4px 6px rgba(43, 54, 66, 0.1);
    border: 4px solid #6a9ace4e;
}

.image-button {
    background-color: transparent; 
    border: none; 
    display: flex; 
    align-items: center;
    justify-content: center;
}


.button-image {
    width: 40px; 
    height: 40px;
}


